body{
   font-family: arial;}
#myBtn{
  position: absolute;
  left: 600px;
  top: 200px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 80px; 
  left: 0;
  top: 0;
  overflow:auto; 
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #888;
  width: 40%; 
  box-shadow: 0px 0px 20px #7a7e7f;
}

.header{
  border-bottom:  2px solid #F0F0F0;
  padding: 5%;
  padding-bottom: 3%;
}

.h{
  font: bold 120%  arial, sans-serif;
  font-size: 130%;
  margin-left: 4%;
}

.body{
  padding: 3%;
  margin-left: 6%;
  margin-bottom: 3%;
}

p{
  margin-left: 4%;
  margin-top: 4%;
  font-size: 110%;
 }

.icon{
  display: inline-block;
  width: 30%;
  height: 80px;
  margin-left: 4%;
  padding: 2px; 
  border-radius: 4px;
  border: 2px solid #F0F0F0;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
 }

img{
   vertical-align: top;
   padding: 5%;
   margin:5%;
   height: 25px;
   width: 40px;

}

.footer{
  padding-bottom: 6%;
  padding-top: 6%;
  padding-right: 3%;
  padding-left: 4%; 
  border-top:  2px solid rgb(240, 240, 240,0.4);
}

#next{
  line-height: 32px;
  padding-left: 25px;
  padding-right: 20px;
  float:right;
  border-radius: 4px;
  border:  0px solid #fff;
  color: #fff;
  position: relative;
  bottom: 17px;
  background-color: #0066ff;
  opacity: 0.3;
 }

/*tooltip*/
.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: -50px;
  margin-left: -60px;
  font-size: 15px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}


.customRadio input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.customRadio input[type="radio"]+label {
  position: relative;
  cursor: pointer;
}

.customRadio input[type="radio"]+label:before {
  content: '';
  border: 2px solid #F0F0F0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 5.5rem;
}

.customRadio input[type="radio"]+label:after {
  content: '';
  background: rgb(0, 102, 255,0.8);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 91px;
  opacity: 0;
  transform: scale(2);
  }
.customRadio input[type="radio"]:checked +label:before {
    border: 1px solid rgb(0, 102, 255,0.4);

}

.customRadio input[type="radio"]:checked+label:after {
  opacity: 1;
  transform: scale(1);

}

/* selected events*/
.selected{ 
  border: 2px solid rgb(0, 102, 255,0.3);
  background-color:rgb(0, 102, 255,0.04);
}
